:root{
  --red: #e63c3c;
}
.flex-container{
    display:flex;
    flex-direction:row;
    list-style:none;
    column-gap:1em;
    font-size:1.5rem;
    background-color:rgba(255,255,255,6%);
    color:rgba(255,255,255,60%);
    flex-wrap:wrap;
    font-family: 'Raleway', sans-serif;
    padding-bottom:0.3em;
    padding-top:0.3em;
    box-shadow: 1px 2px 10px #000000;
    }
    .flex-container li{
    background-image: linear-gradient(90deg, var(--red), var(--red));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 700ms ease;
    }
    .flex-container li:Hover{
    color:var(--red);
    cursor:pointer;
    background-size: 100% 2px;
    }
    .flex-container button{
    float:right;
    margin-left:auto;
    margin-right:0.3em;
    }
    body{
    background-color: #121212;
    }
    html {
      scroll-behavior: smooth;
    }
    a{
    text-decoration: none;
    color:unset;
    }
    a:hover{
    text-decoration: none;
    color:unset;
    }
    a:focus{
    text-decoration: none;
    color:unset;
    }
    .cv-button{
    border:none;
    background-color: var(--red);
    border-radius: 8px;
    padding-top:0.1em;
    padding-bottom:0.1em;
    padding-left:0.5em;
    padding-right:0.5em;
    color: rgba(255,255,255,95%);
    height:1.75em;
    transition: all 550ms ease;
    }
    .cv-button:Hover{
    text-shadow: -1px 1px 1px #000000;
    }
    @media only screen and (max-width: 600px){
        .flex-container li{
        display:none;
        z-index:0;
    
        }
        .flex-container button{
        display:none;
        }
        .hamburger-line{
        display:block;
        z-index:3;
        }
        .hamburger{
        z-index:4;
        }
        .home-sec-two-flex div{
        max-width:100%;
        flex:100%;
        }
        .home-sec-two-flex{
        flex-direction:column;
        }
    }
    @media only screen and (min-width: 601px){ 
    .hamburger-line{
    display:none;
    }
    .mobile-menu{
    display:none;
    }
    .flex-container li{
    z-index:3;
    }
     }
    .home-section{
    color:white;
    font-family: 'Inconsolata', monospace;
    }
    .intro-text{
    text-align:left;
    font-weight:normal;
    padding-top:0em;
    font-size:3.8rem;
    font-family: 'Raleway', sans-serif;
    }
    .intro-text-sub{
    text-align:left;
    font-weight:normal;
    padding-top:1em;
    padding-bottom:1em;
    font-size:2.3rem;
    }
    .hamburger-line{
    border-top:2px solid white;
    width:30px;
    padding-bottom:4px;
    padding-top:4px;
    z-index:3;
    position:relative;
    }
    .hamburger{
    padding:0.3em;
    }
    .hamburger:Hover{
    cursor:pointer;
    }
    .mobile-menu{
    height:100vh;
    width:15em;
    background-color:#2c2c2c;
    color:white;
    z-index:2;
    margin-top:none;
    margin-bottom:none;
    position:absolute;
    top:0;
    left:0;
    padding-top:3em;
    opacity:0;
    transition: all 700ms ease;
    }
    .mobile-menu-list{
    list-style:none;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    position:absolute;
    }
    .mobile-menu-list li{
    background-image: linear-gradient(90deg, var(--red), var(--red));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: all 650ms ease;
    }
    .mobile-menu-list li:Hover{
    color:var(--red);
    cursor:pointer;
    background-size: 90% 2px;
    }
    .home-section-one{
    padding-top:16em;
    padding-bottom:20em;
    padding-left: 3em;
    text-align:center;
    }
    .home-section-one .fa-chevron-down{
    font-size:2rem;
    scroll-behavior: smooth;
    }
    .home-section-one .fa-chevron-down:Hover{
    cursor:pointer;
    color:var(--red);
    }
    .home-section-two{
    padding-top:6em;
    padding-bottom:6em;
    background-color: rgba(255,255,255,9%);
    box-shadow: 1px 0px 15px #000000;
    }
    .home-section-three{
        padding-top:12em;
        padding-bottom:12em;
        text-align: left;
    }
    .home-section-three h4{
        color: rgba(255, 255, 255, 0.397);
    }
    .home-section-three h3{
        font-weight: bold;
    }
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0%;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      transition: all 2s ease;
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 3em;
      border: 1px solid #888;
      width: 40em;
      font-family: 'Inconsolata', monospace;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .intro-button{
        float: left;
        background: transparent;
        border : 2px solid var(--red);
        border-radius: 3px;
        padding-left:1.2em;
        padding-right:1.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        color: #ffffff;
        font-weight: bold;
        transition: all 1100ms ease;
        transform-origin: center;
    }
    .intro-button:Hover{
        background: var(--red);
    }
    .intro-button-two{
        float: left;
        background: var(--red);
        padding-left:1.2em;
        padding-right:1.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        color: #ffffff;
        font-weight: bold;
        border-right: 10px solid #3ce6e6;
        border-top:none;
        border-bottom: none;
        border-left: none;
    }
    .intro-button-two:Hover{
        background:white;
        color: var(--red);
    }
    #wizard{
        position: relative;
    }
    .role-options{
      text-align: center;
      align-items: center;
    }
    .role-options h3{
      text-align: center;
    }
    .role-options a{
      text-align: center;
      padding:3em;
    }
    .role-options a:hover{
      text-decoration: underline var(--red) !important;
      color: var(--red) !important;
      cursor:pointer;
    }
    .home-section-three .col-md-6{
      padding:7em;
    }